# Build files
*.o
*.dSYM

# Latex files
*.aux
*.bbl
*.blg

# VIM Files
*.swp
*.swo

# Mac Files
*DS_Store

#Vscode Files settings
.vscode

# Prep/Quiz directories
prep
workshop01/quiz/

# Assignment files
assignment1/starter_code/Makefile

# Certain files that won't be added
workshop03/red7/red7
workshop03/red7/output.txt
workshop03/red7/expected.txt

workshop04/boats/boats
workshop04/red7/red7
workshop04/boats/sailing2-crop.jpg

workshop05/red7/red7
workshop05/red7/**/Deck.cpp

workshop06/red7/Card.cpp
workshop06/red7/Makefile
workshop06/red7/Player.cpp
workshop06/red7/Rule.cpp
workshop06/red7/log.txt
workshop06/red7/utils.cpp
workshop06/red7/utils.h

workshop07/red7/Card.cpp
workshop07/red7/Player.cpp
workshop07/red7/Rule.cpp

workshop08/red7/Card.cpp
workshop08/red7/Player.cpp
workshop08/red7/Rule.cpp
workshop08/red7/utils.cpp
workshop08/red7/utils.h
workshop08/red7/Deck_doublelinkedlist.cpp
workshop08/red7/Deck_doublelinkedlist.h
workshop08/red7/Deck_linkedlistSP.cpp
workshop08/red7/Deck_linkedlistSP.h

workshop09/red7
workshop10/red7
workshop11/red7

